### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
total_school=len(school_data_complete_df["school_name"].unique())
total_school

15

In [4]:
total_students=len(school_data_complete_df["Student ID"].unique())
total_students

39170

In [5]:
total_budget=school_data_df["budget"].sum()
total_budget

24649428

In [6]:
avg_maths=school_data_complete_df["math_score"].mean()
avg_maths

78.98537145774827

In [7]:
avg_reading=school_data_complete_df["reading_score"].mean()
avg_reading

81.87784018381414

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater) 
maths_greater = 100*(len(school_data_complete_df[school_data_complete_df["math_score"] >= 70])/total_students)
maths_greater

74.9808526933878

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater)
reading_greater = 100*(len(school_data_complete_df[school_data_complete_df["reading_score"] >= 70])/total_students)
reading_greater

85.80546336482001

In [10]:
#Calculate the percentage of students who passed math and reading (70% Overall Passing)

overall_passing_maths_reading =100*len(school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)])/total_students
overall_passing_maths_reading

65.17232575950983

In [106]:
store = pd.DataFrame({
    "Total Schools":[total_school], 
    "Total Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score":[avg_maths],
    "Average Reading Score":[avg_reading],
    "% Passing Math":[maths_greater],
    "% Passing Reading":[reading_greater],
    "% Overall Passing":[overall_passing_maths_reading],

    
})

store

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,Bailey High School 4976 Johnson High Sch...,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [26]:
#School Name
school_name = school_data_complete_df.set_index('school_name').groupby(['school_name'])
school_name.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [32]:
# school type
school_type = school_data_complete_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [40]:
# total student count
total_students  =  school_data_complete_df["school_name"].value_counts()
total_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [70]:
# Total School Budget
Total_School_Budget = school_data_complete_df.groupby(["school_name"])["budget"].mean()
Total_School_Budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [44]:
#Per Student Budget
per_student_budget = budget/total_students 

per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [46]:
#Average Math Score
avg_math_perSchool =school_data_complete_df.groupby(["school_name"])["math_score"].mean()
avg_math_perSchool.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [47]:
#Average Reading Score
avg_red_perSchool= school_data_complete_df.groupby(["school_name"])["reading_score"].mean()
avg_red_perSchool.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [50]:
#% Passing Math per school
pass_math_score=school_data_complete_df.loc[school_data_complete_df["math_score"]>=70]
pass_math_score

#assign the math score to each school
group_math_school=pass_math_score["school_name"].value_counts()
group_math_school.head()

percent_maths=group_math_school/total_students*100
percent_maths

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: school_name, dtype: float64

In [89]:
# Passing Reading % per school
reading_score=school_data_complete_df.loc[school_data_complete_df["reading_score"]>=70]

#assign the reading score to each school
reading_PerSchool= reading_score["school_name"].value_counts()
reading_PerSchool.head()

#get the final percentage result
reading_percentage= reading_PerSchool/total_students*100
reading_percentage

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: school_name, dtype: float64

In [67]:
# % Overall Passing The percentage of students that passed math and reading


#calculate student count to add to passing percentage
student_count_by_school = school_data_complete_df.school_name.value_counts()

overall_Passing = school_data_complete_df.loc[(school_data_complete_df.math_score>=70) & (school_data_complete_df.reading_score>=70)]
overall_Passing = (overall_Passing.school_name.value_counts() / student_count_by_school * 100).reset_index(drop = True)
overall_Passing.head()

0    54.642283
1    91.334769
2    53.204476
3    54.289887
4    90.599455
Name: school_name, dtype: float64

In [107]:
#Create a dataframe to hold the above results
school_summary = pd.DataFrame({
    "school_name":[school_name], 
    "School Type":[school_type],
    "Total Students":[total_students],
    "Total School Budget":[Total_School_Budget],
    "Per Student Budget":[per_student_budget],
    "Average Math Score":[avg_math_perSchool],
    "Average Reading Score":[avg_red_perSchool],
    "% Passing Math":[percent_maths],
    "% Passing Reading":[reading_percentage],
    "% Overall Passing":[overall_Passing],

    
})

school_summary

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Huang High School District Hua...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,0 54.642283 1 91.334769 2 53.20447...

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type